*{
    margin:0px; padding:0px; box-sizing: border-box;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}


.menu-bar{
    display:flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height:80px;
    align-items: center;
    box-shadow: 0px 2px 10px rgb(228, 228, 228);

}
.logo-container{
    width:53px;
    margin-left: 3.9%;
    margin-right: 3%;
    

}


.main-logo{
    height:35px;
    margin-top: 7px;
}

.options{
    display: flex;
    min-width: 560px;
    justify-content: space-between;
    text-transform: uppercase;
    margin-right: 0px;
    
    
}

.options a{
   
    font-size: 13.5px;
    letter-spacing: .3px;
    color:#282c3f;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 4px solid rgb(255, 255, 255);
    box-sizing:border-box;
    padding: 32px 16.5px 25px 16px;
    
}
#seven{
    padding-right:2px;
}
#one:hover{
    border-bottom: 3.5px solid #ee5f73;
}
#two:hover{
    border-bottom: 3.5px solid #fb56c1;
}
#three:hover{
    border-bottom: 3.5px solid #f26a10;
}
#four:hover{
    border-bottom: 3.5px solid #f2c210;
}
#five:hover{
    border-bottom: 3.5px solid #0db7af;
}
#six:hover{
    border-bottom: 3.5px solid #0db7af;
}
#seven:hover{
    border-bottom: 3.5px solid #ff3f6c;
}

.options a sup{
    color:#FF3F6C;
    font-size: 10px;
}


.search-bar{
    height:39.6px;
    width:34.5%;
    display: flex;
    align-items: center;
    margin-right: 25px;
    
    padding-left:0px;

}


.input-search{
    height: 39.6px;
    flex-grow: 1;
    background-color: #F5F5F6;
    color:#696e79;
    font-size: 14px;
    border: 0px;
    border-radius: 0px 3px 3px 0px;

}


.search{
    box-sizing: content-box;
    height:20px;
    padding:10px;
    background-color: #F5F5F6;
    color:#696e79;
    border-radius: 3px 0px 0px 3px;
}

.action-bar{
    display: flex;
    min-width: 170px;
    justify-content:space-around;
    margin-right: 4%;
}

.action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;

}

.action_names{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 3.5px solid #ffffff;
}
#profile-color:hover{
    border-bottom: 3.5px solid #f26a10;
}
   