.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    perspective: 1000px;
}
.card{
    width:350px;
    height:300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.container .card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.front {
  background-color: aquamarine;
}
.back {
  background-color: #222;
  color: white;
  transform: rotateY(180deg);
}
