*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    color: azure;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:60%;
    width: 50%;
    gap:10px;
    border-radius: 15px;
}
.box{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    grid-column:1/3;
    grid-row: 1/3;
    background-color: coral;
}
.second{
    grid-column: 3/6;
    background-color: greenyellow;
}
.third{
    grid-column: 3/5;
    grid-row: 2/4;
    background-color: blueviolet;
}
.fourth{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: cornflowerblue;
}
.fifth{
    background-color: darkgreen;
}
.sixth{
    background-color: saddlebrown;
}